body {
    overflow-x: hidden;
}

@media(max-width: 767px) {
    .twitter__link {
        padding: 30px;
        height: 100%;
    }

    .app__post {
        height: 100% !important;
    }
}

/* @media(min-width: 900px) {
    .twitter__link {
        margin-left: 130px !important;
    }
} */